<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Liked Places</title>
</head>
<body>
    <h1>좋아요 한 장소</h1>

    <ul>
        <% if (likedPlaces.length > 0) { %>
          <% likedPlaces.forEach(function(place) { %>
            <li>
              <strong>Place Name:</strong> <%= place.place_name %><br>
              <strong>링크 방문하기:</strong> <a href="https://place.map.kakao.com/<%= place.placeId %>" target="_blank">https://place.map.kakao.com/<%= place.placeId %></a><br><br>

              <!-- address_name 및 phone 추가하려면 여기에 더 추가하세요 -->
            </li>
          <% }) %>
        <% } else { %>
          <li>No liked places found.</li>
        <% } %>
      </ul>
</body>
</html>
